body {
	font-family: sans-serif;
	width:  800px;
	margin:  0 auto;
	padding: 10px;
}

html {background-color: #264d73




}


.error {
	color: red;
}

label {
	display: block;
	font-size: 20px;
}

input[type=text]{
	width:400px;
	font-size: 20px;
	padding: 2px;
}

textarea {
	width: 400px;
	height:  200px;
	font-size: 17px;
	font-family:  monospace;


}

.header { color: #ffffff}

.footer { color: #ffffff}
	

input[type=submit]{
	font-size: 24px;
}

hr {
	margin: 20px auto;
}

.art + .art {
	margin-top:  20px;
}

.art-title {
	font-weight: bold;
	font-size: 20px;
	color: #ffffff
}
.art-body {
	margin:  0;
	font-size: 17px;
	color: #ffffff
}
h1 {
	color:green;
}
